@media only screen and (max-width: 1400px) {
  section.testimonial .testi-font{
    font-size: 55px;
    }
    
    
}

@media only screen and (max-width: 1200px) {
  section.textpart .heading h1{
    font-size:  2.5rem;
    line-height: 32px;
    transition: all 0.5s ease;
  }
  h1{
    font-size: 2.5rem;
  }

  section.textpart .heading span img{
    width:60px;
    transition: all 0.5s ease;

  }
}

@media only screen and (max-width: 992px) {
    .content{
        top: 350px;
      }
       .hero_text h1{
        font-size: 50px;
        line-height: 3rem;
        transition: all 0.5s ease;
      }

      .content .hero_text p{
        width: 350px;
        line-height: 28px;
        font-weight: 500;
        }

        .first_image img{
            width: 100px;

          }
          
          .second_image img{
          width: 150px;

          }


           /* new code added */
           section.textpart .heading h1{
            font-size:  2rem;
            line-height: 38px;
            transition: all 0.5s ease;
          }

          
      section.textpart .heading{
        position: relative;
      }

      section.textpart .heading span.box-one{
          position: absolute;
          top: -80px;
          right: -30px;
        }

        section.textpart .heading span.box-two{
          position: absolute;
          bottom: -60px;
          left: -30px;
        } 

        h1{
          font-size: 2rem;
        }

        
        section.partner .box_content .hide{
          width:100%;
        }

        section.partner .box_content{
          transform: translateY(70px);
          transition: all 0.5s ease;
        }

        /* goals card */

        .goals{                      
          width: 200px;
        }
        .goals img{
          height: 100px;
          width: 80px;          
        }
        .goals.goal-item1{
          left: 60px;
          top: 0;
          transform: rotate(7deg);
        }
        
        .goals.goal-item2{
          left: -70px;
          top: 35%;
          transform: rotate(-10deg);
        }
        
        .goals.goal-item3{
          left:  90px;
          bottom: 0;
          transform: rotate(-26deg);
        }
        
        .goals.goal-item4{
          right: 30px;
          top: 0;
          transform: rotate(7deg);
        }
        
        .goals.goal-item5{
          right: -75px;
          top: 35%;
          transform: rotate(-10deg);
        }
        
        .goals.goal-item6{
          right: 60px;
          bottom: 0;
          transform: rotate(-35deg);
        }


}


@media only screen and (max-width: 768px) {


  section.textpart .heading h1{
    font-size:  1.8rem;
    transition: all 0.5s ease;
  }

  section.partner .box_content{
    transform: translateY(95px);
    transition: all 0.5s ease;
  }

  section.testimonial .testi-font{
    font-size: 40px;
    }

       /* goals card */

       .goals{                      
        width: 140px;
      }
      .goals img{
        height: 100px;
        width: 80px;          
      }
      .goals.goal-item1{
        left: 0px;
        top: 0;
        transform: rotate(7deg);
      }
      
      .goals.goal-item2{
        left: 50%;
        top: -50px;
        transform: rotate(-10deg) translateX(-50%);
      }
      
      .goals.goal-item3{
        left:  0px;
        bottom: 0;
        transform: rotate(-26deg);
      }
      
      .goals.goal-item4{
        right: 0px;
        top: 0;
        transform: rotate(7deg);
      }
      
      .goals.goal-item5{
        right: 0px;
        top: unset;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
      }
      
      .goals.goal-item6{
        right: 0px;
        bottom: 0;
        transform: rotate(25deg);
      }

      .goals p{
        font-size: 13px !important;
      }
  
}



@media only screen and (max-width: 600px) {
 .menu{
  display: none!important;
 }
.get_startedbtn{
  width: 100%;
}
.content{
  transform: translateX(-50%) !important;
}
.banner-text{
  font-size: 14px;
  
}
.content .hero_text p{
  width: 100%;
  }
  .content{

    top: unset;
    bottom: 30px ;
  }
  section.partner .box{
    transform: rotate(0deg);
   }
   .floating_image{
    width: 100%;
   }

   section.testimonial .testi-font{
    font-size: 30px;
    }

 
}


@media only screen and (max-width:490px) {
 
  section.partner .box_content{
    transform: translateY(110px);
  }
    

}

@media only screen and (max-width:450px) {
 
  section.partner .box_content{
    transform: translateY(125px);
  }
    

}
