@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .content{
        top: 350px;
      }
       .hero_text h1{
        font-size: 50px;
        line-height: 3rem;
        transition: all 0.5s ease;
      }

      .content .hero_text p{
        width: 350px;
        line-height: 28px;
        font-weight: 500;
        }

        .first_image img{
            width: 100px;

          }
          
          .second_image img{
          width: 150px;

          }

}


@media only screen and (max-width: 768px) {



  
}



@media only screen and (max-width: 600px) {
 .menu{
  display: none !important;
 }
.get_startedbtn{
  width: 100%;
}
.content{
  transform: translateX(-50%) !important;
}
 
}


@media only screen and (max-width:490px) {
 

    

}
