
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smotthing: antialiased;
  transition: all 0.8s ease;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

input,
textarea {
  outline: none !important;
}

input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
  box-shadow: none !important;
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
button {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
li{
  list-style: disc;
}
.l-none{
list-style: none !important;
}

.f-bold{
    font-weight: 900;
}
.bold{
    font-weight: 600;
}

p{
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
span,
button{
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 600 !important;
}
a{
  color: #0b7443;;
}

.main{
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
  position: relative;
  background-image: url('../Images/Hero\ Image-p-2000.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}
nav{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  top: 7vh;
  height: 7vh;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border-radius: 50px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 0vw 2vw;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1;
}

.overlay {
  opacity: .3;
  background-image: linear-gradient(90deg,#07485c,rgba(94,158,178,0) 70%);
  width: 55%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  z-index: 1;
}

.overlay2{
  opacity: .4;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5153711142660189) 41%, rgba(0,212,255,0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  z-index: 1;
}

.first_image img{
  width: 130px;
  position: absolute;
  z-index: 0;
  left: -40px;
  transform: rotate(15deg);
  top: 0;
}

.second_image img{
width: 200px;
position: absolute;
bottom: 0px;
left: 0;
margin-bottom: -40px;
}

.content{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
  z-index: 3;
  top: 350px;
}
 .hero_text h1{
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  line-height: 5rem;
  transition: all 0.5s ease;
}

.content .hero_text p{
width: 350px;
line-height: 30px;
font-weight: 500;
}
.nav-link{
  color: #0b7443;
}

.banner-text{
  font-size: 22px;
}


section.textpart .heading h1{
  font-size:  3.2rem;
  line-height: 45px;
  font-weight: 400;
  transition: all 0.5s ease;
}

section.textpart .heading{ 
  display: flex;
  align-items: center;
  justify-content: center

}

section.textpart .heading span {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

section.textpart .heading span img{
  height: 12vh;
  width: 4vw;
  object-fit: cover;
  border-radius: 15px;
  margin: 0px 15px 0px 15px;
  transition: all 0.5s ease;
}

section.textpart .heading span .first_image{
background-color: #fee9d1;
transform: rotate(-10deg);
}

section.textpart .heading .second_image{

  margin: 0px 30px 0px 30px;
  }

  h1{
    font-size: 3.2rem;
  }

  section.partner p{
    font-size: 1.2rem;
  }
  
  section.partner .outer_bg{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    object-position: center;
    height: 500px;
    width: 100%;
    border-radius: 15px;
    overflow-y: hidden;
    transition: all 0.5s ease;
  }


  section.partner .box_content{
    position: absolute;
    bottom: 0;
    z-index: 9;
  }

  section.partner .box_content{
    transform: translateY(100px);
    transition: all 0.5s ease;
  }

  section.partner .outer_bg:hover .box_content{
    transform: translateY(0px);
    transition: all 0.5s ease;
    cursor: pointer;
  }
  section.partner .outer_bg:hover{
    transition: all 0.5s ease;
  }

  section.partner .box_content .hide{
    width: 400px;
  }

  .split-col{
    display: flex;

  }

  .floating_image{
    height : 300px;
    width: 120%;
    object-fit: cover;
    background-color: #dadeb7;
    border-radius: 20px;
    filter: drop-shadow(1px 3px 4px #000000);
  }

  section.partner .box:hover{
    z-index: 3;
    transform: scale(1.1) rotate(0deg);
    transition: all 0.5s ease;
    cursor: pointer;

  }

  section.partner .box{
    transition: all 0.5s ease;
    position: relative;
    
  }

  section.partner .box{
   transform: rotate(3deg);
  }



.tilt ul li{
  margin-bottom: 10px;
  color: #000;
}

.lady{
  height: 400px;
  object-fit: contain;
  background-color: #fee9d1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}


/* Testimonial */

section.testimonial .testi-font{
font-size: 65px;
}

section.testimonial .post img{
  height: 100px;
  width: 100px;
  object-fit: fill;
  border-radius: 50% ;
}


/* faq */
section.faq .heading h2{

}

.accordion-item .accordion-button {
  background-color: #f5f7fb;
  cursor: pointer;
  padding: 1.25rem 3rem;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px !important;
  border: unset !important;
}

.accordion-body{
  background-color: #f5f7fb;
  padding:  0.25rem 3rem 1.25rem 3rem;
}
.accordion-button:not(.collapsed){
  color: #000 !important;
}
.accordion-item{
  margin-bottom: 10px;
  border: unset !important;
}

.accordion-button:not(.collapsed){
  border-radius: 15px 15px 0px 0px !important;
}

section.your-goals .container{
  padding: 220px 0px 220px 0px !important;
}

.goals{
  background-color: #eff7ff;
  border-radius: 15px;
  width: 200px;
}
.goals img{
  height: 120px;
  width: 100px;
  object-fit: cover;
}
.goals.goal-item1{
  position: absolute;
  left: 220px;
  top: 0;
  transform: rotate(7deg);
}

.goals.goal-item2{
  position: absolute;
  left: 0;
  top: 35%;
  transform: rotate(-10deg);
}

.goals.goal-item3{
  position: absolute;
  left:  250px;
  bottom: 0;
  transform: rotate(-26deg);
}

.goals.goal-item4{
  position: absolute;
  right: 220px;
  top: 0;
  transform: rotate(7deg);
}

.goals.goal-item5{
  position: absolute;
  right: 0;
  top: 35%;
  transform: rotate(-10deg);
}

.goals.goal-item6{
  position: absolute;
  right:  250px;
  bottom: 0;
  transform: rotate(46deg);
}

.goals p{
  font-weight: bold !important;
}

